/* General */
html, #app{
    height: 100%;
}

body {
    background: #FAFAFA;
    font-family: Avenir, Verdana, arial, sans-serif;
    height: 100%;
    margin: 0px;
}

li {
    list-style: none;
}

/* Navigation */

.main {
    height: 100%;
}

header {
    color: #EEEEEE;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

.navbar {
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: center;
}

.back {
    cursor: pointer;
    display: inline-block;
    left: 0;
}


/* Main */
.analyze_search {
    margin: 20px;
    margin-top: 40px;
}

/* Home */
.home_page {
    text-align: center;
}

.home_page .title {
    color: #1E2223;
    font-size: 1000%;
    position: relative;
    top: 20%;
    opacity: 0;
    -webkit-animation: fadein_down 1s ease-out .5s forwards;
       -moz-animation: fadein_down 1s ease-out .5s forwards;
            animation: fadein_down 1s ease-out .5s forwards;
}

@-webkit-keyframes fadein_down {
    from { opacity: 0; top: 17%}
     to  { opacity: 1; top: 20%}
}
@-moz-keyframes fadein_down {
    from { opacity: 0; top: 17%}
     to  { opacity: 1; top: 20%}
}
@keyframes fadein_down {
    from { opacity: 0; top: 17%}
     to  { opacity: 1; top: 20%}
}

.landing {
    height: 100vh;
}

.subtitle {
    position: relative;
    color: #BDBDBD;
    font-size: 150%;
    top: 20%;
    opacity: 0;
    animation: fadein 1s ease-out 1s forwards;
}

@-webkit-keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

@-moz-keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

.button-container {
    position: relative;
    top: 25%;
    animation: fadein_up 1s ease-out 1.5s forwards;
}

.start-button {
    cursor: pointer;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 2px;
    display: inline-block;
    background-color: #006064;
    color: #FAFAFA;
    overflow: hidden;
    width: 90px;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
    
    -webkit-animation: fadein 1s ease-out 1.5s forwards;
       -moz-animation: fadein 1s ease-out 1.5s forwards;
            animation: fadein 1s ease-out 1.5s forwards;
    
}

@keyframes fadein_up {
    from { top: 28%}
    to   { top: 25%}
}

.start-button:hover {
    width: 15%;
    background-color: #00838F;
}

.scroll_down {
    position: relative;
    top: 45%; 
    font-size: 1.8em;
    color: #BDBDBD;
}

/* About */

.about {
    font-size: 1.3em;
    color: #BDBDBD;
    background-color: #1E2223;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.about a{
    height: 100%;
    color: white;
}

.pubpub_left {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-flex: 2;
       -moz-flex: 2;
            flex: 2;
}

.pubpub_left > div {
    padding-right: 5%;
    padding-left: 5%;
    height: 100%;
    border-right: solid 1px #BDBDBD;
}

.pubpub_right {
    -webkit-flex: 1;
       -moz-flex: 1;
            flex: 1;
}

img {
    background-color: #1E2223;
    max-height: 200px;
    max-width: 200px;
}

.description_bottom {
    color: #BDBDBD;
}

.data_left div {
    font-size: 100%;
}


/* Search */
.search {
    text-align: center;
}

.search_users_form {
    background-color: #FAFAFA;
    /*background-color: #1E2223;*/
    position: fixed;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    /*border-bottom: solid #BDBDBD 1px;*/
    z-index: 100;
    opacity: 0;
    -webkit-animation: fadein 2s ease-out forwards;
       -moz-animation: fadein 2s ease-out forwards;
            animation: fadein 2s ease-out forwards; 
    box-shadow: 1px 1px 3px #888888;
}

.search_users_form input {
    overflow: hidden;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 40px;
    font: 16px Avenir, Verdana, sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input:focus {
    border-bottom: 1px solid #7986CB;
}


#search_header {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 0;
}

.table_wrapper {
    z-index: -99;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
    overflow-y: scroll;
}

.user_search_table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
}

.user_search_table, tr {
    border: 1px solid grey;
}

.data_rows:hover {
    background-color: #ddd;
}

td {
    text-align: left;
    cursor: pointer;
    font-weight: lighter;
}

th {
    font-weight: normal;
}

/* Analyze */
.analyze {
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

.tools_list{
    background: #1E2223;
    -webkit-flex: 1;
       -moz-flex: 1;
            flex: 1;
    width: 40px;
    height: 100%;
    text-align: left;
}


.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin-left: 30px;
    margin-right: 30px;
}

.sidebar a {
    color: #BDBDBD;
    font-size: 14px;
    text-decoration: none;    
}

.tools_header {
    text-align: center;
}

.tools_header a {
    font-size: 20px;
    color: #FAFAFA;
}

.tool_container {
    -webkit-flex: 4;
       -moz-flex: 4;
            flex: 4;
}

.analyze_header {
    text-align: center;
}

.analyze_user {
    font-size: x-large;
}