/* General */

html, #app{
    height: 100%;
}

body {
    font-family: Avenir, Verdana, arial, sans-serif;
    height: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Navigation */
.container {
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

.sidebar {
    background: #1E2223;
    flex: 1;
    width: 40px;
    height: 100%;
}

header {
    color: #EEEEEE;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

.main {
    background: #FAFAFA;
    flex: 4;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style: none;
    padding: 10px; 
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: grey solid 1px;
}

.sidebar li:hover {
    text-decoration: underline;
}

.sidebar a {
    color:#EEEEEE;
}

/* Main */
.analyze_search {
    margin: 20px;
    margin-top: 40px;
}

/* Home */
.home_page {
    text-align: center;
}

.home_page .title {
    font-size: xx-large;
    margin: 20px;
}

.heading {
    margin: 20px;
}

.heading > span {
    color: #BDBDBD;
}

.start-button {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

img {
    background-color: #1E2223;
    max-height: 100px;
    max-width: 100px;
}

.about {
    display: -webkit-flex;
    display: flex;
}

.pubpub-left {
    flex: 2;
}

.pubpub-right {
    flex: 1;
}

/* Search */
.search_users_form {
    text-align: center;
    margin-bottom: 20px;
}

.search_users_form input {
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 40px;
    font: 16px Avenir, Verdana, sans-serif;
}

input:focus {
    border-bottom: 1px solid #7986CB;
}


#search-header {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.table_wrapper {
    overflow-y: scroll;
}

.user_search_table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
}

.user_search_table, tr {
    border: 1px solid grey;
}

.data_rows:hover {
    background-color: #ddd;
}

td {
    cursor: pointer;
    font-weight: lighter;
}

th {
    font-weight: normal;
}